body
    /*Retirar a margem do body*/
    margin: 0;
    /*cor de fundo*/
    background-color: #f1f1f1;
    /*fontes*/
    font-family:Arial, Helvetica, sans-serif;
}

header{
    background-color: #fff;
    /*Sombra - ed cb opa cor*/
    box-shadow: 0px 0px 20px #666 ;
    /*Margem interna*/
    padding: 10}

nav{
    /*Joga para esquerta ou direita*/
    float: right;
    margin-top: 25px;
}

nav a{
    text-decoration: none;
    color: red;
    margin: 15px;
}